<aam-loading *ngIf="loading"></aam-loading>
<!-- <button (click)="addJuzgado()" *ngIf="!loading" class="btn btn-success">
  Agregar juzgado
</button> -->
<aam-table
  *ngIf="estado && !loading"
  [data]="estado.data"
  [headers]="estado.headers"
  [actions]="estado.actions"
  (pageSelected)="page = $event; getEstados()"
  [hasSearch]="true"
  (search)="searchText = $event; page = 1; getEstados()"
  (sort)="sort = $event; getEstados()"
  [paginationInfo]="estado.paginationInfo"
  (actionClicked)="actionClicked($event)"
></aam-table>

